<?xml version="1.0"?>
<!--
/**
 * Copyright © Soft Commerce Ltd. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Byte8_Core::byte8"
             title="Byte8"
             translate="title"
             module="Byte8_Core"
             sortOrder="60"
             dependsOnModule="Byte8_Core"
             resource="Byte8_Core::byte8"/>
    </menu>
</config>
